main > .container{
  padding:30px 0;  
}

.navegacion {
    background-color: #0D0D0D; /*Asignamos un fondo*/
    align-items: center;
    display: flex;

}

.navegacion nav{
    display: inline-block;
    position: relative;
    left: 35%; /*Ajustamos los hiérvínculos a la derecha*/
}

.navegacion ul{
    list-style-type: none;
    margin: 0;
}

.navegacion li{
    float: left;
    padding: 20px 30px 20px 0;

}

.navegacion li a{
    color: #ffffff; /* Asignamos color */
    text-decoration: none; /* Borramos la linea de abajo*/
    font-size: 20px; /* Ajustamos el tamaño de la letra */
    font-weight:bold; /* Hacemos la letra negrita*/
}

.navegacion img{
    padding: 10px 10px 10px 0;
    width: 100px;
    max-height: 100px;
    display: inline-block;
    position: relative;
    left: 3%;
}

.navegacion ul li a img{
    width: 30px;
    margin-right: 30px;

}

.encabezado p{
    margin-left: 30px;

}
img{
   width:350px;
    height:250px;   
}
  



