/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 22, 2023, 12:25:52 AM
    Author     : kevin
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #BFA18F;
    color:white;
}

header {
    background-color: #0D0D0D;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #D6D5C9;
    text-decoration: none;
}

nav a:hover{
    color: #8C141E;
    text-decoration: none;
}

main {
    background-color: #BFA18F;
    padding: 20px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    margin-bottom: 20px;

}

figure {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

footer {
    background-color: #0D0D0D;
    color: #D6D5C9;
    padding: 10px;
    text-align: center;
    border-top: 1px solid white;
}