<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Agregar Comentario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet" >
        <script src="js/bootstrap.min.js"></script>
        <link href="css/comentarios.css" type="text/css" rel="stylesheet"> 
    </head>

    <body>

        <header th:replace="plantilla/template::header"></header>

        <div class="container">
            <div class="card-body">

                <div>
                    <h1 class="text-center">Comentario Nuevo</h1>
                    <br>

                    <!-- FORMULARIO -->
                    <form th:object = "${comentario}"
                          th:action="@{/guardarComentario}"
                          method="POST">

                        <input type="hidden" th:field="*{idComentario}">

                        <input type="hidden" name="fecha" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" />

                        <label  class="col-md-2 col-form-label" for="tituloComentario">Titulo del comentario</label>
                        <input type="text" class="form-control" th:field="*{tituloComentario}" placeholder="Titulo">

                        <label  class="col-md-2 col-form-label" for="descripcionComentario">Descripcion del comentario</label>
                        <textarea class="form-control" rows="4" th:field="*{descripcionComentario}" placeholder="Escribir comentario..."></textarea>

                        <div class="checkboxes">

                            <label>
                                <input type="radio" name="calificacion" th:field="*{calificacionComentario}" value="1">
                                🌟
                            </label>
                            <label>
                                <input type="radio" name="calificacion" th:field="*{calificacionComentario}" value="2">
                                🌟🌟
                            </label>
                            <label>
                                <input type="radio" name="calificacion" th:field="*{calificacionComentario}" value="3">
                                🌟🌟🌟
                            </label>
                            <label>
                                <input type="radio" name="calificacion" th:field="*{calificacionComentario}" value="4">
                                🌟🌟🌟🌟
                            </label>
                            <label>
                                <input type="radio" name="calificacion" th:field="*{calificacionComentario}" value="5">
                                🌟🌟🌟🌟🌟
                            </label>
                            
                        </div>

                        <div class="col-auto bg-white p-1 text-center">
                            <button type="submit" class="btn btn-success" value="Guardar">Enviar comentario</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <footer th:replace="plantilla/template::footer"></footer>

</body>
</html>