
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>

        <link rel="stylesheet" href="css/FAQ.css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FAQ</title>
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> 
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> 
    </head>
    
    <body>
        <header th:replace="plantilla/template::header"></header>
        <section id="faqs">
            <div class="container">  
                <div class="col-lg-8 offset-lg-2">
                    <br>
                    <h1 class="titulo my-3">FAQ</h1>
                    <th:block th:each="faq : ${faq}">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 clas="clearfix mb-0">
                                        <a  class="btn btn-link" data-toggle="collapse" data-target="#collapse" 
                                            aria-expanded="true" aria-controls="collapseOne">
                                            <h4 class="text-left" th:text="${faq.getPregunta}"></h4>
                                        </a>
                                    </h2>
                                </div>
                                <div id="collapse" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p th:text="${faq.getDescripcion}"></p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </th:block>
                </div>
            </div>
        </section>
        
        <div class="m-0 row justify-content-center">
            <div class="col-auto p-5 text-center">       
                <a class="btn btn-outline-dark" href="/FaqNuevo" role="button">Agregar FAQ</a>
            </div>

            <div class="col-auto p-5 text-center">       
                <a class="btn btn-outline-dark" href="/FaqAdmin" role="button">Tabla de FAQ</a>
            </div>
        </div>
        
        <footer th:replace="plantilla/template::footer"></footer>
    </body>
</html>
