<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home | Salón de Belleza</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/images/mujer-con-pelo-largo.ico">
    <header th:replace="plantilla/template2::utils"></header>
</head>
<body>
    <header th:replace="plantilla/template::header"></header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br>
                <h1>¡Bienvenidos a Utopía Beauty Salón!</h1>
                <p>Aquí en nuestro salón nos enfocamos en hacer que nuestros clientes se sientan y se vean lo mejor posible. Ofrecemos una amplia variedad de servicios de belleza para satisfacer las necesidades de cada cliente.</p>
                <a class="btn btn-primary" href="#" role="button">¡Mira nuestro Equipo de Profesionales!</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <h2>Servicios</h2>
                <ul>
                    <li>Cortes de cabello</li>
                    <li>Tintes de cabello</li>
                    <li>Peinados para eventos especiales</li>
                    <li>Maquillaje para bodas</li>
                    <li>Uñas acrílicas</li>
                    <li>Masajes relajantes</li>
                    <li>Y mucho más...</li>
                </ul>
                <a class="btn btn-primary" href="servicios" role="button">¡Solicita tu servicio!</a>
                <br> 
                <br><h2> <a style= "text-decoration: none; color: black" href="/sucursales">Sucursales</a></h2>
                <ul>
                    <li>Sucursal Alajuela: Alajuela, Plaza Real Alajuela</li>
                    <li>Sucursal Heredia: La Aurora, U. Fidélitas Heredia</li>
                    <li>Sucursal Limón: Limón, Puerto Viejo MultiCentro</li>
                </ul>
                
            
            
            </div>
            
            
            <div class="col-lg-8 col-md-6">
                <h2>Servicios Destacados</h2>
                <div class="card-deck">
                    <div class="card">
                        <img class="card-img-top" src="images/Peinados.jpg" alt="Producto destacado 1">
                        <div class="card-body">
                            <h5 class="card-title">Servicio de peinado profesional en distintas áreas:</h5>
                            <p class="card-text">Nuestro servicio de peinado consiste en ofrecer diferentes técnicas de peinado para el cabello, con el objetivo de crear estilos y acabados personalizados para nuestros clientes..</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="images/Peinado.jpg" alt="Producto destacado 2">
                        <div class="card-body">
                            <h5 class="card-title">Servicio de coloración en distintas áreas:</h5>
                            <p class="card-text">Nuestro servicio de coloración de salón de belleza se enfoca en brindarle a nuestros clientes una experiencia personalizada y de alta calidad para transformar su cabello..</p>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="images/Uñas2.jpg" alt="Producto destacado 3">
                        <div class="card-body">
                            <h5 class="card-title">Servicio de uñas moldeadas y diseño profesional:</h5>
                            <p class="card-text">Nuestro servicio de uñas de salón de belleza se enfoca en brindarle a nuestros clientes una experiencia relajante y de alta calidad para mantener sus manos y pies saludables y con estilo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <footer>
        <header th:replace="plantilla/template::footer"></header>
        <script>
            function addCard(formulario) {
                var valor = formulario.elements[0].value;
                var url = '/carrito/agregar';
                url = url + '/' + valor;
                $("#resultsBlock").load(url);
            }
        </script>
    </footer>
</body>
</html>