<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>InicioDeSesion</title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="src/main/resources/static/css/InicioDeSesion.css">
    </head>
    <body>
        <header th:replace="plantilla/template::header"></header>
        <div class="derecha">
            <div style="height: 30%;"></div>
            <div class="caja">
                <h1 class="texto">
                    Empieza ahora
                </h1>
                <h2>
                    Si aun no tienes una cuenta, registrate y empieza a disfrutar de los beneficios
                </h2>
                <div style="height: 5px;"></div>
                <div>
                    <button>
                        <a href="Registro.html">Registrarme</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="izquierda">
            <div style="height: 15%;"></div>
            <form>
                <div>
                    <h1>
                        Inicia sesión aqui
                    </h1>
                    <div style="height: 30px;"></div>
                </div>
                <label>Correo Electronico:</label><br>
                <input type="text"><br>
                <div style="height: 30px;"></div>
                <label>Contraseña:</label><br>
                <input type="text"><br>
                <input style="width: 15px ; height: 13px;"type="checkbox">
                <label style="font-size: 13px; ">Recordarme</label><br>
                <div style="height: 30px;"></div>
                <button>
                    <a href="Home.html">Iniciar sesión</a>
                </button>
            </form>
        </div>
        <footer th:replace="plantilla/template::footer"></footer>
    </body>
</html>
