<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Registro</title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/css/Registro.css">
    </head>
    <body>
        <header th:replace="plantilla/template::header"></header>
        <div class="izquierda">
            <div style="height: 35%;"></div>
            <div class="caja">
                <h1 class="texto">
                    Hola de nuevo
                </h1>
                <h2>
                    Si ya tienes una cuenta registrada, inicia sesion aqui y diviertete
                </h2>
                <div style="height: 5px;"></div>
                <div>
                    <button>
                        <a href="login">Iniciar sesión</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="derecha">
            <div style="height: 15%;"></div>
            <form th:action="@{/regUsuario}" th:object="${users}"
                  method="POST" class="was-validated">
                <div>
                    <h1>
                        Registrate aqui
                    </h1>
                </div>
                <label for="nombre">Nombre completo:</label><br>
                <input name="nombreUsuario" type="text"><br>
                <label for="email">Correo Electronico:</label><br>
                <input name="correo" type="text"><br>
                <label for="contra">Contraseña:</label><br>
                <input name="contra" type="text"><br>
                <input name="rol" type="hidden" value="CLIENTE" ><br>
                <input style="width:15px;height:13px;"type="checkbox">
                <label style="font-size: 13px; ">Aceptar terminos y condiciones</label><br>
                <button class="btn btn-primary" type="submit">Registrarse</button>
            </form>
        </div>
        <footer th:replace="plantilla/template::footer"></footer>
    </body>
</html>
