<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <title>SucursalAlajuela</title>
        <link rel="stylesheet" href="src/main/resources/static/css/Sucursales.css"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
    </head>
    <body>
        <header th:replace="plantilla/template::header"></header>
        <div class="titulo">
            <h1>ALAJUELA</h1>
        </div>
        <div class="titulo2">
            <h1>Nuestro Equipo</h1>
        </div>
        <hr>
        <main>
            <article>
                <figure>
                    <div class="empleado">
                        <img src="../images/Foto.jpg" alt="foto1"> 
                    </div>
                    <div class="info">
                        <h1>SEBASTIAN ROJAS</h1>
                        <p>ESTILISTA</p>
                    </div>
                </figure>
            </article>
            <article>
                <figure>
                    <div class="empleado">
                        <img src="../images/Foto.jpg" alt="foto2">
                    </div>
                    <div class="info">
                        <h1>JUANITO MORA</h1>
                        <p>RECEPCIONISTA</p>
                    </div>
                </figure>
            </article>
            <article>
                <figure>
                    <div class="empleado">
                        <img src="../images/Foto.jpg" alt="foto3">
                    </div>
                    <div class="info">
                        <h1>ARTHURO CHAVES</h1>
                        <p>CONSERJE</p>
                    </div>
                </figure>
            </article>
        </main>
    </body>
    <footer th:replace="plantilla/template::footer"></footer>
</html>
