<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <title>Usuarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <table>
            <thead>
                <tr>                   
                    <th>Nombre</th>                
                    <th>Email</th>
                    <th>Contraseña</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
            <th:block th:each="user : ${usuarios}">
                <tr>
                    <td th:text="${user.getNombreUsuario}"></td>
                    <td th:text="${user.getEmailUsuario}"></td>
                    <td th:text="${user.getContraUsuario}"></td>
                    <td>                        
                        <a th:href="@{/editUsuario/{id}(id=${user.getIdUsuario})}">Editar</a></td>
                    <td>                        
                        <a th:href="@{/deleteUsuario/{id}(id=${user.getIdUsuario})}">Eliminar</a></td>
                </tr>
            </th:block>
        </tbody>
    </table>
</body>
</html>
