<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
    <head>
        <title>Usuarios</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="icons/font/bootstrap-icons.css">
        <link href="css/bootstrap.min.css" rel="stylesheet" >
        <script src="js/bootstrap.min.js"></script>
    </head>

    <body>
        <header th:replace="plantilla/template::header"></header>
        <br>

        <h1 class="text-center" th:text="Usuarios"></h1>
        <div class="col-auto bg-white p-3 text-center">

            <table class="table table-light table-striped">
                <thead class="thead-light">
                    <tr>                   
                        <th scope="col">Nombre</th>                
                        <th scope="col">Email</th>
                        <th scope="col">Contraseña</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>

                <tbody>
                <th:block th:each="user : ${usuarios}">
                    <tr>
                        <td th:text="${user.getNombreUsuario}"></td>
                        <td th:text="${user.getEmailUsuario}"></td>
                        <td th:text="${user.getContraUsuario}"></td>
                        <td>                        
                            <a th:href="@{/editUsuario/{id}(id=${user.getIdUsuario})}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                </svg>
                            </a>
                        </td>
                        <td>                        
                            <a th:href="@{/deleteUsuario/{id}(id=${user.getIdUsuario})}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                            </a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>

        <div class="col-auto bg-white p-1 text-center my-3">
            <a class="btn btn-outline-dark" href="/usuarioN" role="button">Agregar usuario</a>
        </div>

        <footer th:replace="plantilla/template::footer"></footer>


    </body>
</html>
